<div class="middle" style="padding-top: 100px;overflow: auto;">
  <div class="container-fluid">
    <div class="row mb-2">
      <div>
        <h3 class="mb-4"><%= I18n.t('others.messages.ask_a_public_question') %></h3>
          <%= render 'form', question: @question %>
      </div>
  </div>
  <hr>
  <!-- footer -->
  <%= render "partials/footer" %>
</div>
