<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
    <div style="display: none;">
      <%= f.email_field :email, value:"guestdic6@gmail.com" %>

      <%= f.password_field :password, value:"guestdic6password" %>
    </div>
  
    <%= f.submit "Guest", class:"btn btn-primary btn-sm" %>
      
<% end %>