<!-- start rigth sidebar -->
<div class="sidebar1" style="padding-top: 100px; overflow: auto;">
  <div class="container-fluid">
      <div class="row m-1">
      <div class="card mb-3" style="max-width: 12rem; padding: 0;">
          <div class="card-header bg-primary text-light">Jobs <span class="badge bg-warning text-dark">new</span></div>
          <div class="card-body text-dark">
          <h5 class="card-title text-primary">Dark card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make.</p>
          </div>
      </div>
      </div>
      <div class="row m-1 text-left">
      <div class="card p-0" style="width: 12rem;">
          <div class="card-header bg-primary text-light">
          Users <span class="badge bg-danger text-light">online</span>
          </div>
          <ul class="list-group list-group-flush">
          <li class="list-group-item text-dark">
              <a href="" class="btn"><i class="fas fa-user-graduate"></i> user2021 </a>
          </li>
          <li class="list-group-item text-dark">
              <a href="" class="btn"><i class="fas fa-user-graduate"></i> user2021 </a>
          </li>
          <li class="list-group-item text-dark">
              <a href="" class="btn"><i class="fas fa-user-graduate"></i> user2021 </a>
          </li>
          <li class="list-group-item text-dark">
              <a href="" class="btn"><i class="fas fa-user-graduate"></i> user2021 </a>
          </li>
          <li class="list-group-item text-dark">
              <a href="" class="btn"><i class="fas fa-user-graduate"></i> user2021 </a>
          </li>
          <li class="list-group-item text-dark">
              <a href="" class="btn"><i class="fas fa-user-graduate"></i> user2021 </a>
          </li>
          <li class="list-group-item text-dark">
              <a href="" class="btn"><i class="fas fa-user-graduate"></i> user2021 </a>
          </li>
          </ul>
      </div>
      </div>
  </div>
</div>
<!-- end rigth sidebar -->