<!-- start left sidebar -->
<div class="sidebar">
  <ul style="padding-left: 0;">
      <li>
          <a href="/" class="">
              <span class="icon"><i class="fas fa-home"></i></span>
              <span class="item">Home</span>
          </a>
      </li>
      <li>
          <a href="<%= questions_path(q: "all") %>">
              <span class="icon"><i class="fas fa-question-circle"></i></span>
              <span class="item">Questions</span>
          </a>
          <ul>
          <li>
              <a href="<%= questions_path(q: "all") %>">
              <span class="icon"><i class="fas fa-globe"></i></span>
              <span class="item">All</span>
              </a>
          </li>
          <li>
              <a href="<%= questions_path(q: "solved") %>">
              <span class="icon"><i class="fas fa-check-double"></i></span>
              <span class="item">Solved</span>
              </a>
          </li>
          <li>
              <a href="<%= questions_path(q: "unsolved") %>">
              <span class="icon"><i class="fas fa-ban"></i></span>
              <span class="item">Unsolved</span>
              </a>
          </li>
          </ul>
      </li>
      <li>
          <a href="#">
              <span class="icon"><i class="fas fa-user-friends"></i></span>
              <span class="item">Users</span>
          </a>
      </li>
      <li>
          <a href="#">
              <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
              <span class="item">Find a Job</span>
          </a>
      </li>
      <li>
          <a href="#">
              <span class="icon"><i class="fas fa-user-shield"></i></span>
              <span class="item">Admin Mode</span>
          </a>
      </li>
  </ul>
</div>
<!-- end left sidebar -->