<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a answer from <%= @sender.name %>!</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <%= link_to "Click this button", question_path(@answer.question), class:"btn btn-primary" %>
    <p><br>
    ----------
    </p>
    <p>Learn Better - 2021</p>
  </body>
</html>