<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @resource.email %>!</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>We're contacting you to notify you that your password has been changed.</p>
    <p><br>
    ----------
    </p>
    <p>Learn Better - 2021</p>
  </body>
</html>